<p>
  Howdy! Here's a list of awesome computer scientists. Do you know any others? Add to the list yourself.
</p>

<form (submit)="addName()">
  <input [(ngModel)]="newName" name="newName" placeholder="Awesome Computer Scientist">
  <button type="submit">Add</button>
</form>

<ul>
  <li *ngFor="let name of names">{{name}}</li>
</ul>
<p>
  Howdy! Here's a list of awesome computer scientists. Do you know any others? Add to the list yourself.
</p>

<form (submit)="addName()">
  <input [(ngModel)]="newName" name="newName" placeholder="Awesome Computer Scientist">
  <button type="submit">Add</button>
</form>

<ul>
  <li *ngFor="let name of names">{{name}}</li>
</ul>
<p>
  Howdy! Here's a list of awesome computer scientists. Do you know any others? Add to the list yourself.
</p>

<form (submit)="addName()">
  <input [(ngModel)]="newName" name="newName" placeholder="Awesome Computer Scientist">
  <button type="submit">Add</button>
</form>

<ul>
  <li *ngFor="let name of names">{{name}}</li>
</ul>
<p>
  Howdy! Here's a list of awesome computer scientists. Do you know any others? Add to the list yourself.
</p>

<form (submit)="addName()">
  <input [(ngModel)]="newName" name="newName" placeholder="Awesome Computer Scientist">
  <button type="submit">Add</button>
</form>

<ul>
  <li *ngFor="let name of names">{{name}}</li>
</ul>
<p>
  Howdy! Here's a list of awesome computer scientists. Do you know any others? Add to the list yourself.
</p>

<form (submit)="addName()">
  <input [(ngModel)]="newName" name="newName" placeholder="Awesome Computer Scientist">
  <button type="submit">Add</button>
</form>

<ul>
  <li *ngFor="let name of names">{{name}}</li>
</ul>
<section class="brown">
    <div class="container">
        <h1>Let’s connect!</h1>
        <p>Have a suggestion? Found a bug? Just want to say “<span>Hello</span>”?
            <br>contact us through our email.</p>
        <h2><a class="mailTo" href="mailto:info@iflipd.com?subject=Feedback ">info@iflipd.com</a></h2>
        <p>Join us in our community</p>
        <ul class="nav nav-pills social">
            <li><a href="https://www.facebook.com/iFlipd" target="_blank"><i class="icon-facebook icon-4x"></i></a>
            </li>
            <li><a href="http://twitter.com/iFlipd" target="_blank"><i class="icon-twitter icon-4x"></i></a>
            </li>
            <li><a href="https://www.linkedin.com/company/3033920?trk=tyah&trkInfo=tarId%3A1400478448806%2Ctas%3Aiflipd%2Cidx%3A1-1-1" target="_blank"><i class="icon-linkedin icon-4x"></i></a>
            </li>
        </ul>
    </div>
</section>
