<section class="content">
    <div class="container">
        <div class="instructions">
            <h2>Our Team</h2>
            <div class="team">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <img class="img-circle" src="https://iflipd.com/img/team/KatiNew.jpg" alt="" />
                        <h3>Kati Radziwon <small>CEO, Founder</small></h3>
                        <p>For Kati the decision to launch iFlipd was simple: she loves books, but couldn't find good venues in which
                        to explore and share them online. A former tech executive with a luxury retailer, Kati has also built her
                        own successful photography business in Portland,
                        Oregon. Her secret to running a startup while raising three boys? She can text with her toes.</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <img class="img-circle" src="https://iflipd.com/img/team/keith_.jpg" alt="" />
                        <h3>Keith Bristol<small>COO</small></h3>
                        <p>A seasoned general manager and product executive who loves to build powerful teams and game-changing products.
                        A former VP of Product Innovation at UsingMiles.com (sold Nov 2013) and Director of Technology Services at eBags.com</p>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <img class="img-circle" src="https://iflipd.com/img/team/kevin_.jpg" alt="" />
                        <h3>Kevin Merritt<small>CTO</small></h3>
                        <p>Step inside iFlipd, and you'll see Kevin's handiwork everywhere. As founder of One Foot, a Brooklyn-based
                        production company specializing in television and live events (and a former birthday-party magician) he brings
                        a mix of tech and theatrical skills to the iFlipd interface. But don't ask him why he owns an ambulance.</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <img class="img-circle" src="https://iflipd.com/img/team/michael_.jpg" alt="" />
                        <h3>Michael Palgon<small>Head of Publishing</small></h3>
                        <p>Meet iFlipd's Book Guru. After 24 years Michael recently left mega-publisher Random House, where he
                        served as EVP and Deputy Publisher. While he's crazy for books, he's expressed serious misgivings about chihuahuas.
                        In his spare time,
                        Michael enjoys baking. And he's a practitioner of Bikram Yoga. Coincidence?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
