<section class="content aboutUs">
  <div class="container">
    <div class="instructions">
    	<h2>About iFlipd</h2>
      <div class="col-lg-5">
        <img class="teamImage" src="https://iflipd.com/img/team/team-photo.jpg">
      </div>
      <div class="col-lg-7">
        <p class="aboutUsParagraph1">
          You can rent a pet (no joke). You can drive a Ferrari through a car share. In Florida you can even lease a giraffe by the hour.
          But try getting a textbook on a pay-as-you-go plan. It isn't going to happen.
          In 2011 two girlfriends sat in a Portland coffee shop lamenting the fact that they couldn't rent digital textbooks.
          Maybe it was the zeitgeist, or the shifting social-media landscape, or the four macchiatos,
          but right then and there a crazy new concept was born: iFlipd.
        </p>
      </div>
      <div class="col-lg-12">
        <p>
          But we aren't just a Rent-All shop for students. We're a library, campus bookstore, and a scholarship program.
          At iFlipd we want students to instantly have access to the books they need,
          when they need them. Our pay-as-you-play model means you can check out any title for a minimal fee.
          After you study and pass that exam, simply flip it back and another student can pick up the remaining rental days for half price.
          Need to brush up for the mid-term or final? Just pick it up again and all of your notes will be right where you left them.
        </p>
        <p>
          And iFlipd isn't merely a place to get cheap textbooks. We believe every academic endeavor
          creates an opportunity to discuss, share, and enrich regardless of which campus gets your
          tuition check. We treat each book on iFlipd like a classroom–or better yet, a revolutionary
          cafe–where students can take notes, exchange ideas, and effect change using the power of
          discussion and collaboration.
        </p>
        <p>
          At iFlipd we know education is an endlessly rewarding experience. Whether it's the pure
          pleasure of a story well told or exposure to math, science, engineering, and academia, the
          benefits are huge. But iFlipd likes to toss in yet another reward: Free Books. The more you rent,
          the more friends you tell, the more free eTextbooks you get.
        </p>
        <h3>That's iFlipd.</h3>
        <h4>Textbooks at genius prices!</h4>
      </div>
    </div>
  </div>
</section>
