<footer id="footerNav">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-xs-12">
                <ul class="nav navbar-nav" style="font-size: 13px !important;">
                    <li><a href="/about-us/">About Us</a></li>
                    <li><a href="/team/">Team</a></li>
                    <li><a href="/affiliates/">Affiliates</a></li>
                    <li><a href="/terms/">Terms</a></li>
                    <li><a href="/policy/">Policy</a></li>
                    <li><a href="/faq/">FAQ</a></li>
                    <li><a target="_blank" href="/blog">Blog</a></li>
                    <li><a href="/professors/">Professors</a></li>
                    <li><a href="/universities/">Universities</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="pull-right">
                    <p>© Backflip Technologies Inc. 2016. All rights reserved..</p>
                </div>
            </div>
        </div>
    </div>
</footer>
