<footer id="footerNav">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-xs-12">
                <ul class="nav navbar-nav">
                    <li><a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">ABOUT US</a></li>
                    <li><a href="/team/">TEAM</a></li>
                    <li><a href="/affiliates/">AFFILIATES</a></li>
                    <li><a href="/terms/">TERMS</a></li>
                    <li><a href="/policy/">POLICY</a></li>
                    <li><a href="/faq/">FAQ</a></li>
                    <li><a target="_blank" href="/blog">BLOG</a></li>
                    <li><a href="/professors/">PROFESSORS</a></li>
                    <li><a href="/universities/">UNIVERSITIES</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="pull-right">
                    <p>© Backflip Technologies Inc. 2016. All rights reserved..</p>
                </div>
            </div>
        </div>
    </div>
</footer>
