#footerNav {
  background-color: #1f120a;
  padding: 20px 0 10px;
  color: #999;
  bottom:0px;
  width:100%;
}

#footerNav a {
  font-size: 12px;
  color: #999;
}

#footerNav a:hover {
  color: #ccc;
  text-decoration: none;
  background-color: transparent;
}
